{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>Количество новостей: {{ news|length }}</h3>

    <hr>

    {% if news %}
        {% for post in news %}
            <div>
                <h2>
                    <a href="{% url 'news_detail' post.id %}">{{ post.title|censor }}</a>
                </h2>
                <p>Дата: {{ post.time_in|date:"d.m.Y" }}</p>
                <p>{{ post.text|slice:":20" }}...</p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    {% if is_not_author %}
    <button> <a href="/news/upgrade/"> Стать автором!</a> </button>
    {% endif %}

{% endblock content %}